@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    border: 0;
    list-style: none;
    position: relative;
}

html, body {
    width: 100vw;
    overflow-x: hidden;
}

header {
    padding: 5px;
    display: flex;
    justify-content: end;
    margin: 10px;
}

header > img  {
    width: 45%;
}

.headline {
    background: url(../imagens/header.jpg) no-repeat center/cover;
    width: 100%;
    height: 160px;
    margin: 5px;
    padding: 10px;
    background-size: 126%;
}

.headline > h1 {
    font-size: 1.1rem;
    color: white;
    padding: 15px;
    text-align: justify;
}

.headline > h2 {
    font-size: 1.4rem;
    color: white;
    padding: 15px;
    margin-bottom: 10px;
}

.botao {
    background-color: orange;
    color: white;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
    text-align: center;
}

#sobrenos {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    
}

#sobrenos h1 {
    font-size: .8rem;
    color: blue;
    padding-bottom: 10px;
    position: relative;
}

#sobrenos h1::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 94px;
    bottom: -36px;
    left: 0;
    border-radius: 8px;
    background-color: black;
}

#sobrenos h2 {
    padding-bottom: 15px;
    font-size: 1.4rem;
}

#sobrenos p {
    width: 300px;
    text-align: justify;
    padding-bottom: 40px;
    padding-top: 10px;
    font-weight: 600;
}

#sobrenos .botao {
    margin: 10px 0;    
}

#personal {
    padding:  10px 40px
 
}

#personal p {
    width: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: justify;
}

.imagemtreino {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.imagemtreino > img {
    width: 100%;
}

.nomepersonal {
    padding: 20px;
    color: orange;
    font-size: 1.2rem;
    font-weight: 600;
}

.spinning {
    font-size: 1.1rem;
    font-weight: 700;
}

.spinning::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 78px;
    bottom: -16px;
    left: 2;
    border-radius: 8px;
    background-color: orange;
}

.musculacao {
    font-size: 1.1rem;
    font-weight: 700;
}

.musculacao::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 115px;
    bottom: -16px;
    left: 2;
    border-radius: 8px;
    background-color: orange;
}

.muaythai {
    font-size: 1.1rem;
    font-weight: 700;
}

.muaythai::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 92px;
    bottom: -16px;
    left: 2;
    border-radius: 8px;
    background-color: orange;
}

footer {
    background-color: #13181d;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news {
    color: rgb(239, 168, 37);
}

footer form .email {
    padding-top: 10px;
    text-align: center;
    
}